<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor patch:instead="*[@type='Sitecore.ContentSearch.Analytics.Aggregators.AnalyticsAddressAggregator, Sitecore.ContentSearch.Analytics']" type="Sitecore.Support.ContentSearch.Analytics.Aggregators.AnalyticsAddressAggregator, Sitecore.Support.140668">
              <param desc="name">AddressAggregationObservable</param>
            </processor>
          </interactions>
          <contacts>
            <processor patch:instead="*[@type='Sitecore.ContentSearch.Analytics.Aggregators.ContactChangeAddressAggregator, Sitecore.ContentSearch.Analytics']" type="Sitecore.Support.ContentSearch.Analytics.Aggregators.ContactChangeAddressAggregator, Sitecore.Support.140668">
              <param desc="name">AddressChangeObservable</param>
            </processor>
          </contacts>
        </pipelines>
      </group>
     </pipelines>
  </sitecore>
</configuration>